

<style>
  .gallery__wrapper {
    background: url({{ galleryBg }}) no-repeat center
      center/cover;
    }
</style>

<div class="gallery__wrapper">
  <div class="gallery__carousel-wrapper">
    <button class="btn gallery__button gallery__button--prev">&#10092;</button>
    <div class="gallery__carousel">
      {% for galleryItem in galleryData %}
        <img
          src="{{galleryItem.img}}"
          alt="{{galleryItem.alt}}"
          class="gallery__carousel-img"
        />
      {% endfor %}
    </div>
    <button class="btn gallery__button gallery__button--next">&#10093;</button>
  </div>
</div>
