<div class="gallery__wrapper">
  <div class="gallery__carousel">
    <img
      src="/img/photos/studio-a/console-wide.jpg"
      alt=""
      class="gallery__carousel-img"
    />
    <img
      src="/img/photos/studio-a/live-wide.jpg"
      alt=""
      class="gallery__carousel-img"
    />
    <img
      src="/img/photos/studio-a/couch.jpg"
      alt=""
      class="gallery__carousel-img"
    />
    <img
      src="/img/photos/studio-a/guitars.jpg"
      alt=""
      class="gallery__carousel-img"
    />
    <img
      src="/img/photos/studio-a/wide.jpg"
      alt=""
      class="gallery__carousel-img"
    />
  </div>
</div>
