.btn {
  background-color: $burgandy;
  border: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Archivo Black", sans-serif;
  font-size: 3rem;
  padding: 1rem 2rem;
  pointer-events: visiblePainted;
  text-decoration: none;

  &:hover {
    background-color: $burgandy-dark;
  }
}
