.equipment-wrapper {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  @include respond("tablet") {
    flex-direction: row;
  }
}

.equipment-list {
  flex-grow: 1;
  margin: 1.5rem 0;
  margin-left: 0;
  width: 80%;

  @include respond("tablet") {
    width: 25%;
    margin-left: 10%;
  }
}
