@import "../abstracts/mixins/respondBreakpoints";

.footer {
  &--main {
    align-items: center;
    background-color: $grey-dark;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 5rem 0;
    padding: 2rem;

    p {
      color: $white;
      font-size: 1.5rem;
      line-height: initial;
      padding-top: 2rem;
    }

    @include respond(desktop) {
      flex-direction: row;
      height: 15rem;
      justify-content: space-between;
    }
  }

  &--copy {
    background-color: rgb(48, 48, 48);
    color: $white;
    font-size: 1.5rem;
    font-family: "open-sans", sans-serif;
    text-align: center;
    padding: 0.5rem;
  }

  &--links {
    margin-bottom: 2rem;

    @include respond(desktop) {
      margin-bottom: 0;
    }

    ul {
      align-items: center;
      color: $grey-light;
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      justify-content: center;
      list-style: none;

      @include respond(mobile) {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    li {
      padding: 0 1rem;
    }

    a {
      color: $white-dark;
      font-size: 1.75rem;
      text-decoration: none;

      @include respond(desktop) {
        font-size: 2rem;
      }

      &:hover {
        color: $white;
      }
    }
  }

  &--contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(desktop) {
      align-items: flex-end;
    }
  }
}

.seal {
  transition: all 2s cubic-bezier(0.58, -0.59, 0.04, 1.32);
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 25rem;

  a {
    height: 5rem;
    width: 5rem;
    display: flex;
  }

  &-icon {
    height: 5rem;
    width: 5rem;
    fill: $white;

    &:hover {
      fill: $white-highlight;
    }
  }
}

.email-link {
  font-size: 3rem;
}

.rotate {
  transform: rotate(180deg);
}
