@import "../abstracts/mixins/respondBreakpoints";

.header {
  position: absolute;
  display: flex;
  flex: 0 0 100%;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include respond(tablet) {
    &--sticky {
      background: linear-gradient(45deg, $burgandy, $burgandy-dark);
      border-radius: 20px;
      padding: 1rem;
      position: fixed;
      margin: 1rem 1.5rem;
      width: calc(100% - 3rem);
      animation: slideIn 0.5s ease-out;

      @keyframes slideIn {
        from {
          top: -10%;
        }

        to {
          top: 0;
        }
      }
    }
  }

  &__img {
    height: 10rem;
    filter: invert(99%) sepia(11%) saturate(1143%) hue-rotate(296deg)
      brightness(100%) contrast(93%);
  }

  &__menu-btn {
    border: none;
    border-radius: 50%;
    background: linear-gradient(45deg, $burgandy, $burgandy-dark);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 7rem;
    margin-left: auto;

    @include respond(tablet) {
      display: none;
    }
  }

  &__menu-btn-icon {
    height: 4rem;
    width: 4rem;
    fill: $white;
  }

  &__nav {
    align-items: center;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient($burgandy, $burgandy-dark);
    z-index: 10;

    transition: transform 1s;
    transform: translateX(105%);

    @include respond(tablet) {
      display: flex;
      position: relative;
      height: auto;
      background: none;
      background-color: transparent;
      transform: translateX(0);
    }

    &-items {
      font-family: "Archivo Black", sans-serif;
      color: $white;
      list-style: none;
      font-size: 2rem;

      display: flex;
      flex-direction: column;

      @include respond(tablet) {
        display: flex;
        flex-direction: row;
        margin: 0;
      }
    }

    &-item {
      margin: 3rem;
    }

    &-link {
      text-decoration: none;
      color: $white;
      position: relative;
      transition: opacity 0.5s;

      &:hover {
        &::after {
          transform: scaleX(1);
        }
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -0.5rem;
        width: 100%;
        height: 4px;
        background-color: $teal;
        border-radius: 10px 10px 10px 10px;
        transform: scaleX(0);
        transition: all 0.2s;
      }
    }
  }
}

.opened {
  transform: translateX(0);
  transition: transform 1s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
