<footer>
  <img src="../img/seal/burg.png" alt="The Backery Seal" class="seal" />
  <div class="footer-text"><p>1710 Altamont Ave. 23230</p></div>
  <div class="footer-contact">
    <div class="socials">
      <a href="#" class="socials-btn">
        <svg class="socials-icon">
          <use xlink:href="img/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </a>
      <a href="/pages/about.html" class="socials-btn">
        <svg class="socials-icon">
          <use xlink:href="img/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </a>
      <a href="#" class="socials-btn">
        <svg class="socials-icon">
          <use xlink:href="img/symbol-defs.svg#icon-twitter"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
