<footer>
  <div class="footer--main">
    <div class="footer--links">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Studio A</a></li>
        <li><a href="#">Studio B</a></li>
      </ul>
    </div>
    <div class="footer--contact">
      <div class="socials">
        <a href="/pages/about.html" class="socials-btn">
          <svg class="socials-icon">
            <use xlink:href="/img/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
        <a href="#" class="socials-btn">
          <svg class="socials-icon">
            <use xlink:href="/img/symbol-defs.svg#icon-mail"></use>
          </svg>
        </a>
        <img class="socials-icon seal" src="/img/seal/white.png">
      </div>
      <p>1710 Altamont Dr, Richmond, VA 23220</p>
    </div>
  </div>
  <div class="footer--copy">© 2023 Copyright: The Bakery</div>
</footer>
