<div class="header__wrapper">
  <div class="header">
    <div class="overlay hidden"></div>
    <a href="/index" class="header__img-link">
      <img
        src="/img/word/black.png"
        alt="The Bakery Recording Studio"
        class="header__img"
      />
    </a>
    <button class="header__menu-btn">
      <svg class="header__menu-btn-icon">
        <use xlink:href="/img/symbol-defs.svg#icon-menu"></use>
      </svg>
    </button>
    <nav class="header__nav">
      <ul class="header__nav-items">
        <li class="header__nav-item">
          <a href="./pages/studio-a/index" class="header__nav-link">Studio A</a>
        </li>
        <li class="header__nav-item">
          <a href="./pages/studio-b/index" class="header__nav-link">Studio B</a>
        </li>
        <li class="header__nav-item">
          <a href="./pages/equipment.html" class="header__nav-link"
            >Epuipment</a
          >
        </li>
        <li class="header__nav-item">
          <a href="./pages/contact.html" class="header__nav-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
