---
title: The Bakery
---

{% if hero %}

  <style>
    .hero {
      background: linear-gradient(to bottom, #99393073, transparent), url({{ hero }}) no-repeat center center/cover;
    }
  </style>

{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
    name="description"
    content="Located in the vibrant Scotts Addition neighborhood of Richmond, Virginia, The Bakery Recording Studio is within minutes of everything the city of Richmond has to offer. The Bakery Recording Studio is the perfect location to record, regardless of the size of the project. The state of the art studios are equipped with two separate live/control rooms, and also offer other amenities to make your stay comfortable.">
  <link rel="stylesheet" href="/bundle.css">
  <link rel="shortcut icon" type="image" href="/img/favicon.png">
  <title>{{ title }}</title>
</head>
<body>
  {% include "./header.njk" %}
  <div class="hero">
    {% if badge%}
      <img class="hero--badge" src=" {{ badge }}" alt="{{ badgeAlt }}"></img>
    {% endif %}
  </div>
  {{ content | safe }}
  {% include "./footer.njk" %}
  <script src="/index.js"></script>
</body>
</html>
