@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Archivo+Black&family=Open+Sans:wght@400;700&display=swap");

@import url("https://fonts.cdnfonts.com/css/braggadocio");

/*
  font-family: 'Archivo Black', sans-serif;
  font-family: 'braggadocio-regular', sans-serif;
  font-family: 'Open Sans', sans-serif;
  */
