// :root {
//   --burgandy: #993930;
//   --burgandy-light: #ad6159;
//   --burgandy-dark: #7a2e26;

//   --teal: #4a9b98;
//   --teal-light: #6eafad;
//   --teal-dark: #3b7c7a;

//   --white: #f6efe9;
//   --white-light: #ffffff;
//   --white-dark: #c5bfba;
//   --white-highlight: #e0c4c1;

//   --grey: #5d5d63;
//   --grey-light: #7d7d82;
//   --grey-dark: #4a4a4f;
// }

$burgandy: #993930;
$burgandy-light: #ad6159;
$burgandy-dark: #7a2e26;
$burgandy-transparent: #99393073;

$teal: #4a9b98;
$teal-light: #6eafad;
$teal-dark: #3b7c7a;

$white: #f6efe9;
$white-light: #ffffff;
$white-dark: #c5bfba;
$white-highlight: #e0c4c1;
$white-glass: #f6efe975;

$grey: #5d5d63;
$grey-light: #7d7d82;
$grey-dark: #4a4a4f;

$content-max-width: 800px;
