:root {
  --burgandy: #993930;
  --burgandy-light: #ad6159;
  --burgandy-dark: #7a2e26;

  --teal: #4a9b98;
  --teal-light: #6eafad;
  --teal-dark: #3b7c7a;

  --white: #f6efe9;
  --white-light: #ffffff;
  --white-dark: #c5bfba;
  --white-highlight: #e0c4c1;

  --grey: #5d5d63;
  --grey-light: #7d7d82;
  --grey-dark: #4a4a4f;

  /*
  font-family: 'Archivo Black', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'braggadocio-regular', sans-serif;
  */
}

@mixin respond($bp) {
  @if $bp == tablet {
    @media screen and (min-width: 800px) {
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

a {
  color: var(--white-light);
  font-family: 'Archivo Black', sans-serif;
}

body {
  font-size: 1rem;
  overflow-x: hidden;
  position: relative;
}

header {
  position: relative;
}

h1 {
  color: var(--burgandy);
  font-family: 'Archivo Black', sans-serif;
}

h2 {
  font-family: 'Archivo Black', sans-serif;
  color: var(--burgandy-dark);
}

.hidden {
  display: none;
}

.reveal {
  // opacity: 0;
  position: relative;
  transform: translateY(8rem);
}

.img-wrapper {
  overflow: hidden;
}

.rotate {
  transform: rotate(180deg);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.btn {
  border: none;
  position: relative;
  transform: translate(0);
  top: auto;
  left: auto;

  margin: 2.5rem 20%;
  padding: 1rem;
  background-color: var(--burgandy);
  border-radius: 1rem;

  font-size: 3rem;

  &:hover {
    background-color: var(--burgandy-dark);
  }

  @include respond(tablet) {
  }
}

.section {
  padding-top: 5rem;
}

// HERO SECTION

.hero {
  display: flex;
  align-items: flex-start;
  height: 90vh;
  overflow: hidden;

  background-image: linear-gradient(
      to bottom,
      #4a1f1ae1,
      hsla(240, 3%, 17%, 0.399),
      rgba(0, 0, 0, 0)
    ),
    url(../img/ControlA.jpg);
  background-position: center center;
  background-size: cover;

  // Parallax
  background-attachment: fixed;

  &__img {
    height: 10rem;
    filter: invert(99%) sepia(11%) saturate(1143%) hue-rotate(296deg)
      brightness(100%) contrast(93%);
  }

  &__span {
    display: flex;
    flex: 0 0 100%;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 5rem;
    width: 5rem;
    margin-left: auto;

    @include respond(tablet) {
      display: none;
    }
  }

  &__menu-btn-icon {
    height: 4rem;
    width: 4rem;
    fill: whitesmoke;
  }

  &__nav {
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--grey-dark);
    z-index: 10;

    transition: transform 1s;
    transform: translateX(105%);

    @include respond(tablet) {
      display: flex;
      position: relative;
      height: auto;
      background-color: transparent;
      transform: translateX(0);
    }

    &-items {
      font-family: 'Archivo Black', sans-serif;
      color: var(--white);
      list-style: none;
      font-size: 2rem;

      display: flex;
      flex-direction: column;

      @include respond(tablet) {
        display: flex;
        flex-direction: row;
        margin: 0;
      }
    }

    &-item {
      margin: 3rem;
    }

    &-link {
      text-decoration: none;
      color: var(--white);
      position: relative;
      transition: opacity 0.5s;

      &:hover {
        &::after {
          transform: scaleX(1);
        }
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -0.5rem;
        width: 100%;
        height: 4px;
        background-color: var(--teal);
        border-radius: 10px 10px 10px 10px;
        transform: scaleX(0);
        transition: all 0.2s;
      }
    }
  }
}

///////////////////////////////////////////////
// Content
.content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  background-color: var(--white);

  &__about {
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;

    font-family: 'Open Sans', sans-serif;

    font-weight: 400;
    // padding: 5rem 3rem;

    p {
      margin: auto;
      max-width: 800px;
      color: var(--burgandy-dark);
      padding: 0 2rem;
    }
  }

  &__rooms {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &-items {
      display: flex;
    }

    &-item {
      // flex: 0 0 25%;
      // margin: 5rem;
      // padding: 2rem 2rem 2rem;
      // background-color: var(--white);

      // border-radius: 1rem;
      text-decoration: none;
      position: relative;
      // transition: all 0.2s;

      // &:hover {
      //   transition: all 0.2s;
      //   transform: scale(1.1) rotate(5deg);
      //   box-shadow: rgba(0, 0, 0, 0.8) 0px 7px 29px 0px;
      // }
    }

    &-title {
      // font-weight: 1000;
      text-align: center;
      font-size: 5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include respond(tablet) {
        // position: relative;
        // transform: translate(0);
        // top: auto;
        // left: auto;
      }
    }

    &-img {
      width: 100%;
      display: block;
      filter: brightness(50%);
      transition: filter 0.4s, transform 0.4s;

      &:hover {
        filter: brightness(100%);
        transform: scale(110%);
      }
    }

    @include respond(tablet) {
      flex-direction: row;

      &-item {
        &:hover {
          transform: none;
        }
      }

      &-img {
        width: 45vw;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 2rem;
    line-height: 4rem;
    text-align: center;

    font-family: 'Open Sans', sans-serif;

    font-weight: 400;

    p {
      margin: auto;
      max-width: 700px;
      color: rgb(15, 15, 15);
    }
  }

  &__footer {
    background-color: var(--teal-dark);
    padding-top: 0;
    height: 40vh;
    font-size: 30rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    p {
      font-size: 3rem;
      font-family: 'Archivo Black', sans-serif;
      color: var(--white);
    }

    @include respond(tablet) {
      flex-direction: row;
    }
  }
}

////////////////////////////////////////
/// Footer

.cake {
  height: 15rem;
}

.seal {
  height: 15rem;
  background-color: white;
  border-radius: 100%;
  transition: all 2s cubic-bezier(0.58, -0.59, 0.04, 1.32);
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 25rem;

  a {
    height: 5rem;
    width: 5rem;
    display: flex;
  }

  &-icon {
    height: 5rem;
    width: 5rem;
    fill: var(--white);

    &:hover {
      fill: var(--white-highlight);
    }
  }
}

.email-link {
  font-size: 3rem;
}

////////////////////////////
/// Equipment

.eqColumns {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.eqColumn {
  margin: 2rem;
  flex-basis: 45%;
}

.eqListItem {
  list-style: none;
}

////////////////////////////
// MEDIA QUERIES

@mixin respond-phone {
  @media (min-width: 800px) {
    @content;
  }
}

.opened {
  transform: translateX(0);
  transition: transform 1s;
}
